.header{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  min-height: 59px;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 48px;
  z-index: 22;
  right: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  //mix-blend-mode: difference;
  contain: layout;
  background: black;

  @media (max-width: 800px) {
    padding: 20px 5px;
  }

  @media (min-width: 1000px) {
    border-bottom: 1px solid rgba(77, 77, 77, 0.38);
  }
}


.home_btn{
  opacity: 1;
  transition: opacity .4s ease 1s;
  pointer-events: all;

  @media (max-width: 800px) {
    padding-left: 48px;
  }

  @media screen and (max-width: 768px){
    padding-left: 24px;
  }
}

.nav{
  text-align: center;
  flex: 1 1;
  order: 2;
  flex-basis: 100%;

  @media (min-width: 1000px) {
    order: 0;
    flex-basis: auto;
  }

  @media (max-width: 1000px) {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 13px;
  }

  & > div{
    display: inline-flex;
    position: relative;
    top: 5px;
    @media (min-width: 425px){
      justify-content: space-around;
    }
  }

  a{
    width: 100%;
    padding: 5px 0 8px;
    transition: opacity .2s ease-out 1.2s, transform .2s ease-out 1.2s;
    margin: 0 16px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    border-radius: 0;
    contain: layout;
    justify-content: center;
    align-items: center;


    span{
      color: #fff;
      position: relative;
      padding: 8px;
      background: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-family: 'NeuePlak-ExtendedBold', sans-serif;
      text-transform: uppercase;
      transition: background-color .2s;

      &::after{
        content: '';
        background-color: #fff;
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 8px;
        left: 8px;
        transition: transform .2s ease-out;
      }

      @media screen and (max-width: 768px){
        font-size: 16px;
        line-height: 20px;
      }

      @media screen and (max-width: 414px){
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:hover{
      span{
        &::after{
          transition: transform .2s ease-out;
          transform: scaleY(2);
          width: calc(100% - 16px);
        }
      }
    }
  }
}

.righter{
  display: flex;
  align-items: center;
  padding-right: 12px;
  margin-left: auto;

  @media (max-width: 800px) {
    padding-right: 48px;
  }

  @media screen and (max-width: 768px){
    padding-right: 24px;
  }
}