$dark: #0f1116;
$white: #fff;

.btn{
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s;
  display: inline-flex;
  border-radius: 0;
  contain: layout;
}

.primary{
  span{
    background-color:$white;
    color: $dark;
    padding: 16px 32px 12px;
    position: relative;
    display: inherit;
    flex: 1;
    width: 100%;
    justify-content: center;
    transition: background-color .2s;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    font-family: 'NeuePlak-Black', sans-serif;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
      padding: 9px 16px 7px;
    }

    @media screen and (max-width: 414px){
      font-size: 16px;
      line-height: 24px;
      padding: 9px 16px 7px;
    }
  }

  &:hover{
    & > span{
      background: #bac0cc;
    }
  }
}