$white: #fff;
$ml_600: #4d4d4d;
$circ_in_out: cubic-bezier(.785, .135, .15, .86);

.socials{
  max-width: 1536px;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  contain: layout;
  padding-left: 48px;
  padding-right: 48px;
  @media screen and (max-width: 768px) {
  padding: 0;
}

  @media screen and (min-width: 769px) and (max-width: 1120px) {
    &:not(.no-pad){
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li{
      border: 1px solid $ml_600;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 88px;
      height: 88px;
      margin: 0 -1px -1px 0;
      transition: all 0.2s $circ_in_out;

      @media screen and (max-width: 414px) {
      width: 72px;
      height: 72px;
    }

      svg{
        min-width: 32px;
        transition: all 0.2s $circ_in_out;
        transition-delay: .05s;
        max-height: 32px;
        max-width: 32px;
        display: block;

        @media screen and (max-width: 414px) {
        min-width: 0;
        max-height: 28px;
        max-width: 28px;
      }
      }
    }

    a{
      --fill: #fff;
      color: var(--fill);
      transition: all 0.2s $circ_in_out;
      padding: 28px;
      height: 100%;
      cursor: pointer;

      @media screen and (max-width: 414px) {
      padding: 0;
      height: auto;
    }

      p{
        transition: all 0.2s $circ_in_out;
        color: var(--fill);
        font-weight: bold;
        position: absolute;
        font-size: 12px;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 36%);
        text-transform: capitalize;
      }

      &:hover{
        --fill: #000;
        background: $white;

        svg{
          transform: translateY(-20%);
        }

        p{
          transform: translate(-50%, 36%);
          opacity: 1;
        }
      }
    }
  }
}

.socials_wrapper{
  padding: 0 56px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 768px) {
  padding: 0 24px 40px 24px;
}
}

.cover{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 80px;

  @media screen and (max-width: 562px) {
  margin-top: 56px;
}

  h3{
    padding: 16px 0;
  }
}

.title_layer_3{
  color: $white;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Neo Text', sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media screen and (max-width: 414px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p_layer_3{
  color: $white;
  font-family: 'Neo Text', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media screen and (max-width: 414px) {
    line-height: 28px;
    font-size: 20px;
  }
}