$trans: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$black: #000;
$white: #fff;
$ml_600: #4d4d4d;

.footer {
  max-width: 1536px;
  padding: 0 0 24px;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;

  @media screen and (min-width: 1120px) {
    padding: 68px;
  }

  @media screen and (min-width: 769px) and (max-width: 1120px){
    &:not(.no-pad) {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }
}

.footer_wrapper {
  background: $black;
  padding: 68px 56px 0 56px;
  @media screen and (max-width: 768px){
    padding: 24px;
  }
}

// navigation
.navigation {
  display: grid;
  justify-content: space-between;
  grid-gap: 56px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  contain: layout;

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media screen and (max-width: 562px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 32px;
    margin-bottom: 32px;
  }

  @media screen and (max-width: 950px) {
    grid-gap: 26px;
  }

  a{
    text-align: center;
    &:hover{
      h3{
        color: #a5a5a5;
      }
    }
  }

  h3{
    color: white;
    margin-bottom: 10px;
  }
}

//  studio
.studio{
  margin-top: 124px;
  align-items: center;
  justify-content: space-between;
  display: flex;

  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $ml-600;
    height: 96px;
    max-height: 96px;
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    border-right-width: 0;

    &::before {
      content: '';
      width: 90%;
      height: 72px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
    }

    & > div{
      display: flex;
    }

    svg{
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);

      stop {
        transition: all 0.2s ease;
      }
    }

    p{
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: all 0.2s ease;

      &::before{
        content: '';
        display: inline-block;
        height: 42px;
        width: 1px;
        margin: 0 32px;
        background: $ml_600;
        transition: all 0.2s ease;
      }
    }

    &:hover{
      background-color: $white;
      border: 1px solid $white;

      p{
        color: $black;

        &::before{
          color: $black;
        }
      }

      svg{
        stop:first-child {
          stop-color: #e9e9e9;
        }

        stop:last-child {
          stop-color: #f7f7f7;
        }
      }
    }

    @media screen and (max-width: 768px) {
      border-right-width: 1px;
    }
  }

  p{
    color: $white;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin: 0;
  }
}

.callout {
  @media screen and (max-width: 768px){
    margin: 0;
  }
}

.icon{
  position: relative;
  z-index: 2;
  max-width: 132px;
}

.title_layer_2 {
  font-weight: normal;
  font-family: 'NeuePlak-ExtendedBold', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: $black;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media screen and (max-width: 414px){
    font-size: 16px;
    line-height: 24px;
  }
}



.meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 24px 0;

  @media screen and (max-width: 562px){
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  p{
    color: #a5a5a5;

    @media screen and (max-width: 414px) {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      font-family: 'Neue Plak', sans-serif;
    }
  }

  a {
    transition: color 0.2s ease;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Neue Plak', sans-serif;
    color: #a5a5a5;
    &:hover {
      color: #fff;
    }

    @media screen and (max-width: 414px) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  & > div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 414px) {
      flex-direction: column;
      text-align: center;
    }

    li:not(:last-of-type) {
      margin-right: 24px;

      @media screen and (max-width: 768px) {
        margin-right: 16px;
      }

      @media screen and (max-width: 414px){
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
  }
}

.copy {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 562px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  a {
    margin-right: 20px;
    color: #a5a5a5;
  }

  p {
    color: #a5a5a5;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Neue Plak', sans-serif;
  }
}

.logo {
  transition: filter 0.2s ease;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  svg{
    height: 100%;
    width: auto;
  }
}