.services{
  background: #0b111f;
  padding: 5em 0 5em 0;
  position: relative;
}

.container{
  max-width: 1140px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media (max-width: 1024px){
    max-width: 1024px;
  }

  @media (max-width: 767px){
    max-width: 767px;
  }
}

.col_6{
  position: relative;
  display: flex;
  min-height: 1px;

  @media (min-width: 768px){
    width: 50%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.widget_wrap{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.spacer{
  width: 100%;
  position: relative;
  height: 68px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.section_title{
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.divide{
  width: 230px;
  align-items: center;
  display: flex;
  margin: 0;
  direction: ltr;

  &::before{
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 2px solid #3b8ee5;
  }

  span{
    margin-left: 16px;
    max-width: 95%;

    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.sec_title{
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;

  @media (max-width: 1024px) {
    font-size: 2.6rem;
  }

  @media (max-width: 767px) {
    font-size: 2.2rem;
  }
}

.service{
  padding: 2%;
  width: 100%;
  position: relative;
}

.col{
  min-height: 1px;
  position: relative;
  display: flex;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.populated{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 2em 2em 2em 2em;
  border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1025px) {
    background-attachment: scroll;
  }
}

.bg_overlay{
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  border-radius: 8px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #FFFFFF00 50%, #17243F 100%);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.even_bigger_space{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  height: 300px;
}

.card_title{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  animation-name: fadeInUp;
  animation-duration: 1.25s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.title_itself{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.2px;
}

.more_info{
  z-index: 5;
  width: 100%;
  position: relative;
  text-align: left;
}

.info_link{
  fill: #fff;
  color: #fff;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.063rem;
  font-weight: 400;
  border-color: #3B8EE5;
  border-radius: 6px 6px 6px 6px;
}

.content_wrapper{
  display: flex;
  justify-content: center;
}

.icon{
  margin-left: 12px;
  order: 15;
  flex-grow: 0;
}

.desc{
  flex-grow: 1;
  order: 10;
  display: inline-block;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 400;
}